html {
  text-align: center;
  font-family: Helvetica;
}

/* id modifiers */

#background {
  color: white;
  background-image: url("../../resource/images/the-flatiron-building.png");
}

#fineprint {
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}

/* tag modifiers */

h1 {

}

a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
