html {
  text-align: center;
}

/* id modifiers */

#background {
  color: white;
  background-image: url("../../resource/images/the-flatiron-building.png");
}

/* tag modifiers */

h1 {

}

a {
  color: white;
}
